* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
:root {
  --gradient: #8a2be2;
  --dark: #f80303;
  --light: #fcb7b7;
  --white: #ffffff;
}

body {
  width: 100%;
  padding: 10px;
  background-color: var(--gradient);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
}

.head {
  width: 100%;
  background-color: var(--white);
  margin-bottom: 20px;
  padding: 40px 30px 70px;
  border-radius: 20px;
  text-align: center;
}

.icon {
  width: 80px;
  height: 50px;
  shape-image-threshold: inherit;
}

h1 {
  color: var(--gradient);
  font-size: 50px;
}

.Todo-input {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 60%;
  background-color: var(--white);
  justify-content: space-between;
  border-radius: 30px;
  padding-left: 20px;
  margin: auto;
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  .todo-input {
    flex-direction: column;
  }
}
input {
  flex: 1;
  border: none;
  border-radius: 30px;
  outline: none;
  background: var(--white);
  padding: 15px;
  font-size: 10px;
  margin: auto;
}

.btn {
  border: none;
  outline: none;
  border-radius: 20px;
  text-wrap: normal;
  font-size: 11px;
  padding-left: 20px;
  padding-right: 35px;
  padding-top: 17.5px;
  padding-bottom: 17.5px;
  max-width: 20%;
  color: var(--white);
  background-color: var(--dark);
  cursor: pointer;
}
.btn:hover {
  background-color: var(--light);
}
/* ul li {
  display: flex;
  list-style: none;
  flex-direction: column;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  padding: 10px;
} */

li {
  display: flex;
  justify-content: space-between;
  color: var(--gradient);
  align-items: center;
  cursor: pointer;
  background-color: var(--white);
  border-radius: 8px;
  padding: 10px;
  margin: 10px auto;
  width: 70%;
  user-select: none;
}
.content {
  flex: 1 1 0%;
  justify-content: space-between;
}
.To-Do button {
  flex: 0%;
}

.delete {
  padding: 1px;
  border: none;
  font-size: 12px;
  color: #f80303;
  background-color: #ffffff;
  margin-right: 200px;
}

.edit {
  padding: 1px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  background-image: linear-gradient(to right, var(--gradient), var(--dark));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #ffffff;
  transition: 0.4s;
}

.delete:hover {
  background-color: rgb(248, 114, 114);
  padding: 3px;
  border-radius: 30px;
  color: white;
  border: none;
  cursor: pointer;
}

task-check::before {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  color: transparent;
  border-radius: 50%;
  border: 0.06rem solid var(--light);
}
task-check::before::after {
  color: var(--white);
  background-color: green;
  border-radius: 50%;
  border: 0.06rem solid green;
}

h3 {
  color: var(--white);
  font-size: 30px;
  margin-left: 50px;
  margin-top: 15px;
}

.container {
  display: flex;
  color: var(--white);
  text-align: center;
  font-size: 30px;
  margin-bottom: 25px;
}

p {
  color: var(--white);
  font-size: 20px;
  margin-left: 100px;
}
.counter-container {
  height: 2rem;
  display: flex;
  color: gray;
  justify-content: space-between;
}

.counter-container p {
  align-self: center;
}
.counter-container button {
  border: none;
  background-color: #ad05ade5;
  color: var(--white);
  border-radius: 0.5rem;
  width: 80px;
  height: 30px;
  cursor: pointer;
}

.counter-container button:hover {
  background-color: rgba(194, 149, 236, 1.75);
}

.footer {
  position: fixed;
  display: flex;
  margin: 0;
  background-color: var(--white);
  color: var(--gradient);
  width: 100%;
  text-align: center;
  padding: 3px;
  bottom: 0px;
}
